/*Jenn Stuart
   HW 5 Trivia Game 
   UTexas PTF Coding 2019 */

body{
   font-family: 'Liu Jian Mao Cao', cursive;
   background: rgb(155, 194, 16);
   color: maroon;
   }
p {
   font-size: 170%;
}
h1 {
   font-size: 350%;
}
/* Classes */
.container  {
   background:rgb(63, 114, 129);
}

/* ID's */
#red{

}
#green{

}
#yellow{

}
#blue{

}
#myNumber{

}
#crystals{
   
}
#magicNumer{
   font-size: 190%;
}
#targetNumber{
   font-size: 190%;

}
#wins{

}
#losses{

}
