/*Jenn Stuart
   HW 5 Trivia Game 
   UTexas PTF Coding 2019 */

body{
   background-image: url("../images/background/background_img.jpg");
   font-family: 'Permanent Marker', cursive;
   /* background-image: url("/assets/images/background/background_img.jpg"); */
   color: #a3d8db;
   }
p {
   margin-top: 3%;
   color: yellow;
   font-size: 140%;
}
h1 {
   margin-top:2%;
   font-size: 300%;
}
/* Classes */
.container {
   background: rgba(128, 0, 0, 0.842);
}
.text-left{
   margin-left: 4%;
}

/* ID's */
#red{
   margin-right: 6%;

}
#green{
   margin-right: 6%;

}
#yellow{

}
#blue{
margin-right: 6%;
}
#myNumber{
padding: 0 2% 0 2%;
border: yellow solid 3px;
font-size: 89%;
color: whitesmoke;

}
#crystals{
margin-top:2%;
margin-bottom: 2%;
   
}
/* #magicNumber{
   font-size: 210%; */
   
  
/* } */
#targetNumber{
padding: 0 2% 0 2%;
border: yellow solid 3px;
font-size: 89%;
color: whitesmoke;
text-align: center;
}
#wins{
margin-left: 2%;

}
#losses{
margin-left: 2%;

}
