/*Jenn Stuart
   HW 5 Trivia Game 
   UTexas PTF Coding 2019 */

body{
      font-family: 'Vollkorn', serif;
      background: greenyellow;
      color: maroon;
   }
p {
   font-size: 170%;
}
h1 {
   font-size: 350%;
}
/* Classes */
.container  {
   background:magenta;
}

/* ID's */
#red{

}
#green{

}
#yellow{

}
#blue{
   background-color: khaki;

}
#myNumber{

}
#crystals{
   
}
#targetNumber{

}
#wins{

}
#losses{

}
